{
  "parser": "babel-eslint",
    "extends": [
      "standard",
      "standard-react"
    ],
    "env": {
      "browser": true
    },
    "rules": {
      "semi": [2, "always"],//必须分号结尾
      "comma-dangle": [2, "always-multiline"],//要求数组和对象拖尾逗号
      "space-infix-ops": 0,//操作符前后空格
      "max-len": [2, 120, 2],//一行不能太长
      "react/jsx-no-bind": [1, {
        "allowArrowFunctions": true
      }],
      "jsx-quotes": [2, "prefer-double"]//react 属性用双引号
    }
}
